
name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
      
  build-and-deploy:
    name: Build and Deploy 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: shreya1605/myrepo
        dockerfile: Dockerfile
        tags: latest
        

